#categories_list {
	margin-left:15px;
	height: 94px;
	overflow:scroll;
	width: 150px;
	background: rgb(235, 235, 235);
	padding: 10px;
}
#categories_list_title {
	margin:15px 0px 15px 15px;
}

.ui-widget {
	display: inline-block;
}

#nbtpoststuff {
	padding-top: 10px;
}

#nbtpoststuff #post-body.columns-2 {
	margin-right: 300px;
}
#nbtpoststuff #post-body {
padding: 0;
}